body {	font-family: "源ノ角ゴシック" !important;	font-size=20pt;}

.sb {
	line-height:150%;
	text-shadow:0px 1px 1px rgba(0,0,0,0.3);
	color:#ffffff; 
	cursor:hand;
	border:1px #666666;
}

.sb:hover {
	box-shadow:0px 1px 2px rgba(0,0,0,0.2);
}
#bing {	background-color: rgb(12,132,132);}#yahoo {	background-color: rgb(64,112,255);}#yahoo:hover {	background-color: rgb(17,85,238);}
#tb {
	background-color: rgb(255,68,0);
}#ama {	background-color: rgb(254,189,105);}#ama:hover {	background-color: rgb(243,168,71);}#srg {	background-color: rgb(0,0,175);}.dict {	line-height:120%;	width:50px;	padding:0px;	margin:0px 5px 0px 0px;}