* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "源ノ角ゴシック", serif;
}

body {
    margin: 1em;
}

h2 {
    font-size: 18px;
}

a {
    text-decoration: none;
}

a,a:visited {
    color: hotpink;
}

input[type=text], button {
    border: 1px black solid;
}

button {
    padding: 1px 6px;
    line-height: 150%;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    cursor: hand;
    border: 1px #666666;
}

button:hover {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

/* .row-fluid {
    margin: 0 0 0.5em 0;
} */

.container-fluid>.row-fluid>.span4 {
    border: 1px solid lightgray;
    border-radius: 0.25em;
    background-color: aliceblue;
    padding: 0 0.5em;
    margin: 0.25em;
}

.multi-search>*>* {
    width: 100%;
}

.links li {
    list-style-type: none;
    float: left;
    min-width: 3em;
    padding-right: 0.75em;
}

.lines li{
    float:none;
    padding-right:0;
}

.links li:last-child {
    padding-right: 0;
}